@keyframes ldio-mkpm2n289zn {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-mkpm2n289zn div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-mkpm2n289zn div {
  animation: ldio-mkpm2n289zn 0.4385964912280702s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-gidglmo7rm9 {
  width: 44px;
  height: 44px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-mkpm2n289zn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.44);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-mkpm2n289zn div { box-sizing: content-box; }